body {
  background-color: #2B3146;
  color: #f0f8ff;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

.header {
  width: 100vw;
  height: auto;
  background-color: #191c29;
  justify-content: space-between;
}

.header-icon {
 height: 40px;
 width: 40px;
 margin: 10px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.card {
  width: 80vw;
  height: auto;
  border-radius: 10px;
  margin: 2vw 10vw;
  padding: 2.5vw;
  background-color: #191c29;
  box-shadow: #191c29 0px 0px 10px;
}

.text-c1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.text-c2 {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}

.text-c2 > button {
  color: #f0f8ff;
  margin: 0 2px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.icons {
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.icons > a {
  margin-top: 17.5px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  /* padding: 5px; */
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75vw;
  height: 60vh;
  box-shadow: #191c29 0px 0px 10px;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: #2B3146;
  font-size: 0.85rem;
}

.close {
  width: calc(75vw - 20px);
  margin-top: 10px;
  border-radius: 9999px;
  background-color: #191c29;
  color: #f0f8ff;
}